<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter-mapping>
        <filter-name>AuthorizationFilterVentas</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/faces/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>Servlet.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejarSeleccionadosServlet</servlet-name>
        <servlet-class>Servlet.ManejarSeleccionadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejarCapturaVentasServlet</servlet-name>
        <servlet-class>Servlet.ManejarCapturaVentasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>Filters.AuthFilter</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejarSeleccionadosServlet</servlet-name>
        <url-pattern>/ManejarSeleccionadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejarCapturaVentasServlet</servlet-name>
        <url-pattern>/ManejarCapturaVentasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthorizationFilterVentas</filter-name>
        <filter-class>Filters.AuthorizationFilter</filter-class>
    </filter>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
